@import url('https://fonts.googleapis.com/css2?family=Alata&family=Recursive&display=swap');


nav{
    display: flex;
    background-color: #1c2541;
    align-items: center;
    padding: 0;
}

nav a{
    width: 50%;
    font-family: "Alata";
    text-align: center;
    padding: 1.2rem;
    color: white;
    font-weight: bold;
}

nav a img{
    margin-top: auto;
    height: 2.9rem;
}

nav a:hover{
    background-color: #3a506b;
}

body{
    margin-bottom: 3rem;
    display: flex;
    background-color: #5bc0be;
    font-family: "Recursive";
    color: black;
}
textarea{
    resize: none;
    border-radius: 1rem;
    border: 1px solid #0b132b;
    width: 50%;
}


h2, h1{
    color: white;
    font-family: "Alata";
}

.main{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

a{
    color: var(--color-3);
    font-family: "Recursive";
    font-weight: bold;
}

input{
    border-radius: 1rem;
    
}

input[type=text], input[type=number]{
    background-color: #FFFFFF;
    height: 2rem;
    width: 70%;
    border: 1px solid #0b132b;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #000000;
    font-family: "Recursive";
    font-weight: bold;
}

::placeholder{
    color: #0b132b;
}

input[type=button]{
    width: 30%;
    height: 2.5rem;
    border: 1px solid #0b132b;
    background-color: #1c2541;
    color: #FFFFFF;
    font-family: "Recursive";
}

input[type=button]:hover{
    background-color: #3a506b;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

@media (max-width:800px){
    body{
        display: block;
    }
    .main{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 3%;
    }
    
    input[type=number], input[type=text]{
        width: calc(100% - 3rem);
    }
    
}







